@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%; /* gray-50 */
    --foreground: 220 9% 29%; /* gray-700 */
    --card: 0 0% 100%;
    --card-foreground: 220 9% 29%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 29%;
    --primary: 172 70% 40%; /* teal-600 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 240 5.9% 10%;
    --accent: 172 80% 50%; /* teal-500 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%; /* gray-200 */
    --input: 210 20% 88%;
    --ring: 172 70% 40%;
  }

  .dark {
    --background: 220 14% 10%; /* gray-900 */
    --foreground: 220 14% 71%; /* gray-300 */
    --card: 220 13% 18%; /* gray-800 */
    --card-foreground: 220 14% 71%;
    --popover: 220 14% 10%;
    --popover-foreground: 220 14% 71%;
    --primary: 172 51% 50%; /* teal-500 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 172 63% 57%; /* teal-400 */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 28%; /* gray-700 */
    --input: 220 13% 28%;
    --ring: 172 51% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: sans-serif;
  }
  html {
    @apply scroll-smooth;
  }
}
